
<%- include("header") -%> 

<h2>This is a about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Explicabo odio fugiat nulla ipsam error laboriosam. Debitis, culpa voluptatem sapiente dolorum quaerat magnam ipsa
    iusto, illo reiciendis excepturi blanditiis error odio numquam, perferendis neque at!</p>

<%- include("footer") -%> 